.inCart {
  background-color: var(--mantine-primary-color-light);
}

.inCart:hover {
  background-color: var(--mantine-primary-color-light-hover);
}

.selected {
  background-color: var(--mantine-color-red-light);
}

.selected:hover {
  background-color: var(--mantine-color-red-light-hover);
}

.pillsList {
  display: none;
}
