.footer {
  /* margin-top: rem(720px); */
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
  /* background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  ); */
  background-color: var(--mantine-primary-color-filled);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  color: light-dark(black, white);
  @media (max-width: $mantine-breakpoint-sm) {
    /* background-color: aqua; */
  }
}

.logo {
  /* max-width: rem(500px); */

  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.description {
  margin-top: rem(5px);
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-sm) {
    display: none;
  }
}

.wrapper {
  width: rem(280px);
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}

.paymentOptions {
  display: flex;
  justify-content: flex-end !important;
  @media (max-width: $mantine-breakpoint-sm) {
    justify-content: center !important;
  }
}

.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: rem(3px);
  padding-bottom: rem(3px);

  &:hover {
    text-decoration: underline;
  }
}

.title {
  text-align: right;
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  font-family: Greycliff CF, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  @media (max-width: $mantine-breakpoint-sm) {
    text-align: center;
  }
}

.afterFooter {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  /* border-top: rem(1px) solid */
  /* light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4)); */
  /* var(--mantine-color-text); */
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.afterFooter::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(200px);
  background-color: white;
  @media (max-width: $mantine-breakpoint-sm) {
    height: 250px;
  }
}

.social {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xs);
  }
}
