.tableBody {
  background-color: var(--mantine-color-body);
}

.title {
  /* color: var(--mantine-primary-color-contrast); */
  color: var(--mantine-color-bright);
}

.background {
  background-color: var(--mantine-primary-color-filled);
}
